<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, minimum-scale=1, maximum-scale=1">
	<title>Hello Bruce</title>
</head>

<body>
	<div id="root">
		<div class="main-page pr">
			<h1 class="title tac">
				<span class="title-text gradient-color">bruce-app</span>
				<img class="title-icon">
			</h1>
			<div class="home-view">
				<p class="home-desc">How to configure this <strong class="home-tag js">JS</strong> project</p>
				<p class="home-desc">Please check the <a class="home-link gradient-color" href="https://jowayyoung.github.io/bruce/app" target="_blank" rel="noreferrer">bruce-app doc</a></p>
			</div>
			<a class="copyright abs-cx" href="https://yangzw.vip" target="_blank" rel="noreferrer">Produced by @JowayYoung</a>
		</div>
	</div>
</body>

</html>