<div class="{{page}}-page flex-ct-x">
	<h1>
		{{> title}}
		<img src="{{logo}}" />
	</h1>
	<p>How to configure this <strong class="default">{{title-case "default"}}</strong> project</p>
	<p>Check out the `<a href="https://github.com/JowayYoung/bruce-cli" class="gradient">bruce-cli docs</a>`</p>
</div>